In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import pylab
pylab.mpl.rcParams['font.sans-serif'] = ['SimHei'] #支持中文

以下是某有限责任公司一组销售数据，请利用pandas数据透视表相关知识按要求进行统计分析
![](https://cdn.py2china.cn/study-group/pandas/6-1.png)  
1.将上方数据表建立 DataFrame 进行存储（阅读参考文章①）

In [2]:
df_sale = pd.DataFrame(data={
    "id":[1001,1001,1002,1003,1001,1002,1002,1003,1001,1002,1001,1002],         "date":["2010-01-01","2010-01-01","2010-01-01","2010-01-01",                    "2010-01-02","2010-01-02","2010-01-02","2010-01-02","2010-01-03",           "2010-01-03","2010-01-04","2010-01-04"],
    "goods":["A","B","A","B","A","A","B","A","A","B","A","A"],
    "sales":[3000,2000,3000,2000,3000,3000,2000,3000,3000,2000,3000,3000]
    })
df_sale

      id        date goods  sales
0   1001  2010-01-01     A   3000
1   1001  2010-01-01     B   2000
2   1002  2010-01-01     A   3000
3   1003  2010-01-01     B   2000
4   1001  2010-01-02     A   3000
5   1002  2010-01-02     A   3000
6   1002  2010-01-02     B   2000
7   1003  2010-01-02     A   3000
8   1001  2010-01-03     A   3000
9   1002  2010-01-03     B   2000
10  1001  2010-01-04     A   3000
11  1002  2010-01-04     A   3000

2.利用 pivot_table 统计该企业每个人每天销售商品 A 和 B 的金额之和（阅读参考文章②④⑤）

In [3]:
df_sale.pivot_table(values=["sales"], columns=["date"], index=["id"],aggfunc=["sum"])

            sum
          sales
date 2010-01-01 2010-01-02 2010-01-03 2010-01-04
id
1001     5000.0     3000.0     3000.0     3000.0
1002     3000.0     5000.0     2000.0     3000.0
1003     2000.0     3000.0        NaN        NaN

3.请将上面的统计数据再增加一列，统计出每个人的销售总金额（阅读参考文章②④⑤）

In [4]:
df_sale.pivot_table(values=["sales"], columns=["date"], index=["id"],aggfunc=["sum"], margins=True)

            sum
          sales
date 2010-01-01 2010-01-02 2010-01-03 2010-01-04    All
id
1001     5000.0     3000.0     3000.0     3000.0  14000
1002     3000.0     5000.0     2000.0     3000.0  13000
1003     2000.0     3000.0        NaN        NaN   5000
All     10000.0    11000.0     5000.0     6000.0  32000

以下为部分抽烟人群调查表，请将数据存储入 DataFrame，并完成以下操作
![](https://cdn.py2china.cn/study-group/pandas/6-2.png)  
4.请将以上数据存入 DataFrame 中（阅读参考文章①）

In [5]:
df_survey = pd.DataFrame(data=[
    {
        "sex":"man",
        "age":15,
        "smoke":True,
        "height":168
    },
    {
        "sex":"man",
        "age":23,
        "smoke":False,
        "height":179
    },
    {
        "sex":"woman",
        "age":25,
        "smoke":False,
        "height":181
    },
    {
        "sex":"woman",
        "age":17,
        "smoke":True,
        "height":166
    },
    {
        "sex":"man",
        "age":35,
        "smoke":True,
        "height":173
    },
    {
        "sex":"woman",
        "age":57,
        "smoke":False,
        "height":178
    },
    {
        "sex":"man",
        "age":24,
        "smoke":False,
        "height":188
    },
    {
        "sex":"woman",
        "age":31,
        "smoke":True,
        "height":190
    },
    {
        "sex":"woman",
        "age":22,
        "smoke":False,
        "height":160
    }
])
df_survey

     sex  age  smoke  height
0    man   15   True     168
1    man   23  False     179
2  woman   25  False     181
3  woman   17   True     166
4    man   35   True     173
5  woman   57  False     178
6    man   24  False     188
7  woman   31   True     190
8  woman   22  False     160

5.请以性别为分组依据，查看男女抽烟平均年龄和身高（阅读参考文章①）

In [6]:
df_survey[df_survey.smoke==True].pivot_table(values=["age", "height"], index=["sex"], aggfunc=["mean"])

      mean
       age height
sex
man     25  170.5
woman   24  178.0

6.利用交叉表知识，统计各个性别抽烟的人数（阅读参考文章③④⑤）

In [7]:
pd.crosstab(index=[df_survey["sex"]], columns=[df_survey["smoke"]])

smoke  False  True
sex
man        2      2
woman      3      2

7.利用交叉表知识，统计各个年龄段抽烟人情况（阅读参考文章③④⑤）

In [8]:
pd.crosstab(index=[df_survey["age"]], columns=[df_survey["smoke"]])

smoke  False  True
age
15         0      1
17         0      1
22         1      0
23         1      0
24         1      0
25         1      0
31         0      1
35         0      1
57         1      0