In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import pylab
pylab.mpl.rcParams['font.sans-serif'] = ['SimHei'] #支持中文

1.结合 numpy 创建一个 (3, 10) 区间内的包含 5 个随机整数的一维数组 ndarray 为 data1，并以此 data 再创建索引为 a, b, c, d, e 的 Series 为 s1（任务提示：利用 np.random.randint() 创建随机矩阵。阅读参考文章①②）

In [2]:
data1 = np.random.randint(3,10,size=5)
data1

array([5, 9, 8, 8, 5])

In [3]:
s1 = pd.Series(data1,index=("a","b","c","d","e"))
s1

a    5
b    9
c    8
d    8
e    5
dtype: int32

2.请分别用位置索引和标签索引的方式提取是 s1 的后三个数（阅读参考文章③）

In [4]:
i_s1_last3 = s1[-3:]
i_s1_last3

c    8
d    8
e    5
dtype: int32

In [5]:
l_s1_last3 = s1["c":]
l_s1_last3

c    8
d    8
e    5
dtype: int32

3.请用字典的形式创建一个DataFrame，将下方表格数据存储进去 （任务提示：创建 DataFrame 有多种方式，本题以字典形式创建。阅读参考文章④）

In [6]:
data_dict_list = [
    {
        "year":2017,
        "price":10
    },
    {
        "year":2018,
        "price":20
    },
    {
        "year":2019,
        "price":30
    },
]
df = pd.DataFrame(data_dict_list)
df

   year  price
0  2017     10
1  2018     20
2  2019     30

4.结合 numpy 创建一个 (5, 15) 区间内，形状为 5 行 3 列的随机整数数组为 data2，并以此为基础创建 index 为 \['a', 'c', 'e', 'f', 'h'\]，columns 为 \['one', 'two', 'three'\] 的 DataFrame，并命名为 df_test（阅读参考文章④）

In [7]:
data2 = np.random.randint(5,15,size=(5,3))
data2

array([[12,  9, 13],
       [14,  9,  9],
       [ 9,  5, 10],
       [10,  8, 12],
       [ 7,  7, 13]])

In [8]:
df_test = pd.DataFrame(data2, index=['a', 'c', 'e', 'f', 'h'], columns=['one', 'two', 'three'])
df_test

   one  two  three
a   12    9     13
c   14    9      9
e    9    5     10
f   10    8     12
h    7    7     13

5.运用 loc 索引以及替换的知识，按下列要求对 df_test 进行增、改、替操作。完成上述要求后，将该数据命名为 df_change（任务提示：一般用 df.loc\[行，列\] = ？ 做替换。阅读参考文章⑤⑥）

(1) 将 a 行 one 列处替换成空值

(2) 将 c 行 two 列处替换成 -99

(3) 将 c 行 three 列处替换成 -99

(4) 将 a 行 two 列处替换成 -100

(5) 新增 four 列，值为 test

(6) 重置索引为 \['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h'\]

In [9]:
df_change = pd.DataFrame.copy(df_test)
df_change.iloc[0, 0] = None
df_change.loc['c', 'two':'three'] = -99
df_change.at['a', 'two'] = -100
df_change['four'] = "test"
df_change = df_change.reindex(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h'])
df_change

    one    two  three  four
a   NaN -100.0   13.0  test
b   NaN    NaN    NaN   NaN
c  14.0  -99.0  -99.0  test
d   NaN    NaN    NaN   NaN
e   9.0    5.0   10.0  test
f  10.0    8.0   12.0  test
g   NaN    NaN    NaN   NaN
h   7.0    7.0   13.0  test

6.删除 df_change 中存在缺失值的所有行（阅读参考文章⑦）

In [10]:
df_change.dropna()

    one   two  three  four
c  14.0 -99.0  -99.0  test
e   9.0   5.0   10.0  test
f  10.0   8.0   12.0  test
h   7.0   7.0   13.0  test

7.删除 df_change 中所有值都为 NaN 值的行（阅读参考文章⑦）

In [11]:
df_change.dropna(how="all")

    one    two  three  four
a   NaN -100.0   13.0  test
c  14.0  -99.0  -99.0  test
e   9.0    5.0   10.0  test
f  10.0    8.0   12.0  test
h   7.0    7.0   13.0  test

8.df_change 中的所有缺失值（即 NaN）以 0 填充（阅读参考文章⑦）

In [12]:
df_change.fillna(0)

    one    two  three  four
a   0.0 -100.0   13.0  test
b   0.0    0.0    0.0     0
c  14.0  -99.0  -99.0  test
d   0.0    0.0    0.0     0
e   9.0    5.0   10.0  test
f  10.0    8.0   12.0  test
g   0.0    0.0    0.0     0
h   7.0    7.0   13.0  test

9.删除 df_change中的重复行（阅读参考文章⑧）

In [13]:
df_change.drop_duplicates()

    one    two  three  four
a   NaN -100.0   13.0  test
b   NaN    NaN    NaN   NaN
c  14.0  -99.0  -99.0  test
e   9.0    5.0   10.0  test
f  10.0    8.0   12.0  test
h   7.0    7.0   13.0  test