In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import pylab
pylab.mpl.rcParams['font.sans-serif'] = ['SimHei'] #支持中文

任务详情

现有一组北京地区数据分析师的岗位数据，存于 jobs.csv 中。字段含义如下图，请按要求进行数据分析统计： 

![](https://cdn.py2china.cn/study-group/pandas/7-1.png)

1.利用 pandas 读取 csv 格式数据文件，去除其中的重复值，并展示前部数据（阅读参考文章①②）

In [2]:
df_jobs = pd.read_csv('./jobs.csv').drop_duplicates()
df_jobs.head()

,title,company,company_size,industry,type,salary,company_type,source,experience,education,salary2
0,招聘数据分析师,北京越铖国际科技有限公司,20-99人,人事/行政/高级管理,全职,8000-12000,民营,斗米,不限,不限,10000.0
1,数据分析师,北京新东方教育科技（集团）有限公司,NaN,计算机/互联网/信息技术,全职,12000-20000,民营,OFweek人才网,不限,不限,16000.0
2,数据分析师(新浪),新浪网技术(中国)有限公司,2000-5000人,数据分析师,全职,20000-25000,外商独资/办事处,猎聘,3-5年,本科,22500.0
3,数据分析师,北京美科思远环境科技有限公司,20-99人,环保/环境科学类,全职,12000-20000,股份制,北极星招聘,不限,硕士,16000.0
4,助理、临床样本库采样人员、软件工程师、数据库管理工程师、机械设计与结构工程师、Android...,中国人民解放军总医院（北京市解放军医学院）,NaN,医疗,全职,面议,公立医院,康强医疗人才网,不限,不限,NaN

2.统计数据表中的招聘岗位都来自于哪些网站（阅读参考文章③④）

In [3]:
df_jobs.source.value_counts()

猎聘           580
OFweek人才网     33
斗米            17
北极星招聘          5
百姓网            5
普工招聘网          4
工厂直聘网          2
康强医疗人才网        1
Name: source, dtype: int64

3.统计数据分析师这个岗位，对于工作经验的要求（阅读参考文章③④）

In [4]:
data_analyst = df_jobs[df_jobs.title=='数据分析师']
data_analyst.experience.value_counts()

不限    18
Name: experience, dtype: int64

4.统计该地区数据分析岗位对于教育背景的要求（阅读参考文章③④）

In [5]:
data_analyst.education.value_counts()

不限    13
本科     3
硕士     2
Name: education, dtype: int64

5.请统计出不同类型公司的职位数量（阅读参考文章③④）

In [6]:
df_jobs.company_type.value_counts()

民营          458
上市公司         62
外商独资/办事处     45
中外合资/合作      42
国企           34
事业单位          4
个人企业          2
其它            1
公立医院          1
股份制           1
Name: company_type, dtype: int64

6.所有职位的平均工资是多少

In [7]:
df_jobs.salary2.mean()

14409.894688644688

7.请统计平均薪资（即 salary2）排在前 10 位的招聘公司及金额（阅读参考文章⑤⑥）

In [8]:
salary2_top10 = df_jobs.sort_values(by='salary2', ascending=False).head(10)
salary2_top10[['company', 'salary2']]

           company  salary2
648      国内知名互联网企业  25000.0
550     北京友信科技有限公司  25000.0
401       北京某互联网公司  25000.0
554     北京友信科技有限公司  25000.0
211  北京百分点信息科技有限公司  25000.0
404          某金融公司  25000.0
574   北京中科恒硕科技有限公司  25000.0
177     北京快手科技有限公司  25000.0
416     某知名互联网金融公司  25000.0
163   北京永利范思科技有限公司  25000.0

8.请统计发布职位数排在前 10 位的招聘公司及其职位数量（阅读参考文章⑤⑥）

In [9]:
df_jobs.company.value_counts()[:10]

深圳索信达数据技术有限公司          7
百度在线网络技术(北京)有限公司       7
车好多旧机动车经纪(北京)有限公司      7
海南小易到家电子商务有限公司上海分公司    6
苏州皇亭电子有限公司             5
贝壳找房(北京)科技有限公司         5
北京友信科技有限公司             4
北京中油瑞飞信息技术有限责任公司       4
北京字节跳动网络技术有限公司         4
北京百分点信息科技有限公司          4
Name: company, dtype: int64

9.请统计出平均工资排在前 10 位的公司类型及平均工资金额（阅读参考文章⑤⑥）

In [10]:
salary2_top10[['company_type', 'salary2']]

    company_type  salary2
648           民营  25000.0
550           民营  25000.0
401           民营  25000.0
554           民营  25000.0
211           民营  25000.0
404           民营  25000.0
574           民营  25000.0
177           民营  25000.0
416           民营  25000.0
163           民营  25000.0