In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import pylab
pylab.mpl.rcParams['font.sans-serif'] = ['SimHei'] #支持中文

有 6 家上市公司的股票代码、市值与市盈率数据如下，请按照下面要求利用 pandas 对该组数据进行数据分析统计。  
![](https://cdn.py2china.cn/study-group/pandas/5-1.png)

1.请根据上方表格数据创建一个 DataFrame 存储公司的数据，数据命名为 df_company（阅读参考文章①）

In [2]:
data = [
    {
        "company":"杭州银行",
        "code":"600926",
        "market":449,
        "PER":8.31,
    },
    {
        "company":"青农商行",
        "code":"002958",
        "market":371,
        "PER":15.36,
    },
    {
        "company":"常熟银行",
        "code":"601128",
        "market":237,
        "PER":16.01,
    },
    {
        "company":"工商银行",
        "code":"601398",
        "market":21313,
        "PER":7.16,
    },
    {
        "company":"上海银行",
        "code":"601229",
        "market":1369,
        "PER":7.59,
    },
    {
        "company":"江苏银行",
        "code":"600919",
        "market":823,
        "PER":6.3,
    },
]
df_company = pd.DataFrame(data)
df_company

  company    code  market    PER
0    杭州银行  600926     449   8.31
1    青农商行  002958     371  15.36
2    常熟银行  601128     237  16.01
3    工商银行  601398   21313   7.16
4    上海银行  601229    1369   7.59
5    江苏银行  600919     823   6.30

2.选出市值低于 2000 亿的所有公司（任务提示：使用布尔形式选取数据，阅读参考文章②③）

In [3]:
df_company[df_company.market<2000]

  company    code  market    PER
0    杭州银行  600926     449   8.31
1    青农商行  002958     371  15.36
2    常熟银行  601128     237  16.01
4    上海银行  601229    1369   7.59
5    江苏银行  600919     823   6.30

3.选出市值 < 2000亿，并且市盈率 < 10 的所有公司（任务提示：使用布尔形式选取数据，阅读参考文章②③）

In [4]:
# 两种方式
# 第一种条件组合
df_company[(df_company.market<2000)&(df_company.PER<10)]
# 第二种链式，只适用且条件
# df_company[df_company.market<2000][df_company.PER<10]

  company    code  market   PER
0    杭州银行  600926     449  8.31
4    上海银行  601229    1369  7.59
5    江苏银行  600919     823  6.30

4.假设其中一家公司股票的每日收盘价数据，如下
```python
import numpy as np
dr = pd.date_range(start='2019-01-02', periods=100)
data = np.random.randn(100).cumsum()
close = data - np.min(data)
df = pd.DataFrame({"close": close}, index=dr)
df
```
请计算收盘价的五日平均，并新增一列存储（任务提示：使用窗函数rolling计算移动平均，阅读参考文章④）

In [5]:
dr = pd.date_range(start='2019-01-02', periods=100)
data = np.random.randn(100).cumsum()
close = data - np.min(data)
df = pd.DataFrame({"close": close}, index=dr)
df["roll_mean"] = df["close"].rolling(window=5).mean()
df

                close  roll_mean
2019-01-02   0.380777        NaN
2019-01-03   1.204048        NaN
2019-01-04   2.991155        NaN
2019-01-05   2.727459        NaN
2019-01-06   1.924486   1.845585
...               ...        ...
2019-04-07  14.349660  14.387378
2019-04-08  12.750578  14.110085
2019-04-09  11.027560  13.463711
2019-04-10  11.914108  12.941675
2019-04-11  12.726621  12.553705

[100 rows x 2 columns]

请将下方表格数据存储在 DataFrame 中，然后按要求完成练习  
![](https://cdn.py2china.cn/study-group/pandas/5-2.png)

5.创建 DataFrame 存储数据

In [6]:
data1 = np.array(np.arange(1,17)).reshape(4,4)
df1 = pd.DataFrame(data=data1, columns=["第一列","第二列","第三列","第四列"], index=["a","b","c","d"])
df1

   第一列  第二列  第三列  第四列
a    1    2    3    4
b    5    6    7    8
c    9   10   11   12
d   13   14   15   16

6.请利用 apply 函数，统计出每一行的总数（阅读参考文章⑤⑥）

In [7]:
df_sum = pd.DataFrame.copy(df1)
df_sum["总和"] = df1.apply(lambda x: x.sum(), axis=1)
df_sum

   第一列  第二列  第三列  第四列  总和
a    1    2    3    4  10
b    5    6    7    8  26
c    9   10   11   12  42
d   13   14   15   16  58

7.请生成第 5 列数据，使其满足：当第 3 列数据 > 10 时，第 6 列数据等于第 1 、第 2 列数据之和；否则第 5 列数据等于第 3 列数据（阅读参考文章⑤⑥）

In [8]:
def five_col_value(row):
    return row[0] + row[1] if row[2] > 10 else row[2]
df_five = pd.DataFrame.copy(df1)
df_five["第五列"] = df_five.apply(five_col_value, axis=1)
df_five

   第一列  第二列  第三列  第四列  第五列
a    1    2    3    4    3
b    5    6    7    8    7
c    9   10   11   12   19
d   13   14   15   16   27